$primary-color: #6457a6 !default;
$dark-color: #161925 !default;
$light-color: #f4f4f4 !default;
$danger-color: #b71c1c !default;
$success-color: #4bc0d9 !default;
$grey-color: #8a8a8a !default;
$max-width: 1200px;
