.card-container {
  position: relative;
  top: -70px;
}

.card-container .home-card {
  position: relative;
  max-width: 300px;
  height: 160px;
  background: #fff;
  margin: 20px 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: #ccc 1px double;
  box-shadow: 0px 9px 6px -8px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.card-container .home-card .imgBx {
  position: relative;
  width: 220px;
  height: 220px;
  top: -70px;
  left: 0px;
  z-index: 1;
  filter: brightness(65%);
}

.card-container .home-card .imgBx img {
  height: 150px;
  max-width: 100%;
  border-radius: 5px;
}

.card-container .home-card .content {
  position: relative;
  margin-top: -130px;
  padding: 10px 0px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-container .home-card .content {
  visibility: visible;
  opacity: 1;
  margin-top: -90px;
  transition-delay: 0.1s;
}

.card-title {
  color: #fff;
  position: relative;
  top: -25px;
  left: -20px;
  z-index: 2;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.title-header {
  position: relative;
  top: -80px;
  text-align: left;
}

.guide-card img {
  border-radius: 5px;
  width: 370px;
  height: 270px;
}

// Landing
.landing-home {
  position: relative;
  background-blend-mode: saturation;
  height: 40vh;
  z-index: 0;
  background-attachment: fixed !important;
  background-position: 0px center !important;
  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
      width: 30%;
    }
  }
}

.dark-overlay-home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.statistics {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
}

.home-filter {
  // display: grid;
  // grid-template-columns: 1fr;
  display: flex;
  left: -2px;
  position: relative;
  z-index: 1;
  // width: 20%;
  input[type='text'] {
    width: 114%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.25);
  }

  span {
    position: relative;
    right: 8px;
    background-color: #fff;
  }
}
