.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.9;
  ul {
    display: flex;
  }
  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.2rem;
    &:hover {
      // background-color: $light-color;
    }
  }
}

.nav-active {
  border-bottom: #eceff1 2.5px solid;
  transition: border-bottom 0.3s ease;
}
