.filter {
  display: inline-block;
  background: #ffffff;
  border: #ccc 1px double;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  border-radius: 6px;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 9px 6px -8px rgba(0, 0, 0, 0.1);
}
