.course-card {
  position: relative;
  top: -80px;
  left: 10px;
  color: #fff;
  height: 20px;
}

.round-img {
  border-radius: 5%;
  width: 270px;
  height: 200px;
  filter: brightness(60%);
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0rem;
}
