.profile {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  box-shadow: 0px 9px 6px -8px rgba(0, 0, 0, 0.25);
  position: relative;
}

.view-btn {
  position: absolute;
  bottom: -20px;
  right: 90px;
  text-transform: uppercase;
  font-weight: 600;
}

.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about'
    'exp exp';
  grid-gap: 1rem;

  &.profile-top {
    grid-area: top;
  }
  &.profile-about {
    grid-area: about;
  }
  &.profile-exp {
    grid-area: exp;
  }
}

.profile-top {
  box-shadow: 0px 9px 6px -8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border-bottom: solid 5px $primary-color;
}

.table {
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
}

.dash-buttons {
  width: 53rem;
  margin: auto;
}

.icons a {
  color: $grey-color;
  padding: 1rem;
  margin: 0;
  &:hover {
    color: $primary-color;
  }
}

.line {
  height: 1px;
  background: #ccc;
  margin: 0.5rem 0;
}

.topics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dot {
  position: absolute;
  bottom: 63px;
  right: 110px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: #ccc 1px double;
  background-color: $dark-color;
  color: #fff;
  height: 25px;
  width: 50px;
  border-radius: 5px;
}

.bootcamp-user-avatar {
  position: relative;
  top: 20px;
  padding: 0.5rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
