.grid-review {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}

.rating-badge {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  height: 60px;
  width: 120px;
  border-radius: 50px;
  background-color: $primary-color;
  background-image: linear-gradient(315deg, #e09082 0%, $primary-color 74%);
}

.grid-card-review {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.card-review {
  padding: 0.2rem;
  border-top: #eee 1px double;
  margin: 1rem 0;
  background: #fff;
}

.add-review-card {
  padding: 2rem;
  border: #ccc 1px double;
  margin: 1rem 0;
  border-radius: 15px;
  background: #fff;
  border-top: solid 5px lighten($dark-color, 70%);
  border-bottom: solid 5px #ccc;
}

.avatar-review {
  width: 35px;
  border-radius: 15px;
}

.dot-review {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: #ccc 1px double;
  background-color: $dark-color;
  color: #fff;
  height: 10px;
  width: 20px;
  border-radius: 5px;
}

.content-card-wrapper {
  display: flex;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

input[type='radio'] {
  display: none;
}
