.table {
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-radius: 1px;
  }
  th {
    background-color: $dark-color;
    opacity: 0.8;
    color: $light-color;
  }
}

tr:hover {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.edit-user-profile {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 1rem;
  margin-top: 0.4rem;
}

.edit-user-profile img {
  width: 200px;
  border-radius: 15px;
}

.edit-user-profile input {
  width: 50% !important;
}
