// Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 5.5rem;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 2.5rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.grid-mid-hald {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.display-flex {
  display: flex;
}
